In [1]:
2+3

5

In [5]:
3*5

15

In [7]:
5/20

0.25

In [9]:
3**5

243

In [11]:
3%1

0

In [13]:
(9+7)*(4+7)

176

In [14]:
x = 12;y = 10;
c= x+y 
print("The value of c when x is 12:",c)
x = 10
d = x + y
print("The value of d when x is 10:",d)

The value of c when x is 12: 22
The value of d when x is 10: 20

In [17]:
a=17.5
b=8

In [18]:
c=a+b
c

25.5

In [19]:
a = "how are you"
a

'how are you'

In [21]:
a

'how are you'

In [23]:
print(a)

how are you

In [25]:
'string one'

'string one'

In [28]:
'string two'

'string two'

In [30]:
a = [21.42,'food bar',3,4,'bark',False,3.14159]
a

[21.42, 'food bar', 3, 4, 'bark', False, 3.14159]

In [32]:
temp = [1,2,6,4,5]
print("this is list",temp)
print("1st and 2nd element of list",temp[0],temp[1])

this is list [1, 2, 6, 4, 5]
1st and 2nd element of list 1 2

In [33]:
temp.insert(3,9)
print("list after insertion",temp)

list after insertion [1, 2, 6, 9, 4, 5]

In [34]:
temp.append(10)
print("after append the list is",temp)

after append the list is [1, 2, 6, 9, 4, 5, 10]

In [35]:
print(temp)
index=temp.index(10)
print("Index of 10 is",index)

[1, 2, 6, 9, 4, 5, 10]
Index of 10 is 6

In [41]:
print(temp)
temp.remove(6)
print("list after removing 6 ",temp)

[1, 2, 6, 9, 4, 10]
list after removing 6  [1, 2, 9, 4, 10]

In [43]:
print(temp)
temp.reverse()
print("list after reversing",temp)

[10, 4, 9, 2, 1]
list after reversing [1, 2, 9, 4, 10]

In [78]:
print(temp)
temp.sort()
print("sorted list",temp)

[1, 2, 4]
sorted list [1, 2, 4]

In [47]:
numb=[2,8,5,4]
numb.sort(reverse = True)
print("sorted numbers:",numb)

sorted numbers: [8, 5, 4, 2]

In [49]:
print(temp)
temp.pop()
print("list after pop",temp)

[1, 2, 4, 9]
list after pop [1, 2, 4]

In [51]:
nested = [[1,2,3],[2,3,4],[5,6,7]]
print("Nest list",nested)

Nest list [[1, 2, 3], [2, 3, 4], [5, 6, 7]]

In [53]:
a = [11,12,13,14,15,16,17]
print(a[2:])
print(a[:2])
print(a[2:-1])

[13, 14, 15, 16, 17]
[11, 12]
[13, 14, 15, 16]

In [55]:
stack = ['a','b','c','d']
stack.append('e')
stack.append('f')
stack

['a', 'b', 'c', 'd', 'e', 'f']

In [57]:
stack.pop()

'e'

In [60]:
stack

['a', 'b', 'c', 'd']

In [64]:
a = [1,2,3,4]
import copy
b = copy.copy(a)
a.pop()
b
a

[1, 2, 3]

In [66]:
b=a[:]

In [68]:
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [70]:
a = [1,2,[3,4]]
b = a[:]
a[2][0]=10
a

[1, 2, [10, 4]]

In [72]:
b

[1, 2, [10, 4]]

In [74]:
import copy
a = [1,2,[3,4]]
b = copy.deepcopy(a)
a[2][0] = 10
print("a:",a)
print("b:",b)

a: [1, 2, [10, 4]]
b: [1, 2, [3, 4]]

In [75]:
##########Dictionary

In [80]:
score = {'rob':85,'kevin':70}
print("The dictionary is",score)

The dictionary is {'rob': 85, 'kevin': 70}

In [82]:
print(score)
mar = score['kevin']
print("marks of kelvin are",mar)
print("marks of rob are",score['rob'])

{'rob': 85, 'kevin': 70}
marks of kelvin are 70
marks of rob are 85

In [84]:
print(score)
score['jim']=92
score['tony']=56
print("the dictonary after jim and tony",score)

{'rob': 85, 'kevin': 70, 'jim': 92, 'tony': 56}
the dictonary after jim and tony {'rob': 85, 'kevin': 70, 'jim': 92, 'tony': 56}

In [86]:
print(score)
names = list(score.keys())
print("list of students -",names)

{'rob': 85, 'kevin': 70, 'jim': 92, 'tony': 56}
list of students - ['rob', 'kevin', 'jim', 'tony']

In [89]:
print(score)
names = list(score.values())
print("list of marks",names)

{'rob': 85, 'kevin': 70, 'jim': 92, 'tony': 56}
list of marks [85, 70, 92, 56]

In [91]:
print(score)
check = 'kory' in score
print("if kory is there in dictionary -",check)

{'rob': 85, 'kevin': 70, 'jim': 92, 'tony': 56}
if kory is there in dictionary - False

In [94]:
check2 = 'jim' in score
print("if jim is there in dictionary - ",check2)

if jim is there in dictionary -  True

In [128]:
d = {'first':'string value','second':[1,2]}

In [130]:
d.items()

dict_items([('first', 'string value'), ('second', [1, 2])])

In [133]:
d.get('first')

'string value'

In [134]:
d.pop('first')
d

{'second': [1, 2]}

In [138]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

In [140]:
d

{}

In [142]:
d = {'a':1,'b':2,'c':3}
del d['a']
d

{'b': 2, 'c': 3}

In [144]:
d.clear()
d

{}

In [145]:
#####Tuple
#Tuples are identical to list in all respects,except for the following properties:
#Tuples are defined by enclosing the elements in parenthesis (()) instead of square brackets([]).
#tuples are immutable.

In [149]:
l = (1,2,3)
print("first element of tuple 1 :",l[0])
m = 4,5,6
print("second element of tuple m :",m[1])

first element of tuple 1 : 1
second element of tuple m : 5

In [152]:
t=(1,)
print("Singleton tuple",t)
r=t*5
print("repeated tuple",r)
r +=(9,)
print("concatenated tupil",r)

Singleton tuple (1,)
repeated tuple (1, 1, 1, 1, 1)
concatenated tupil (1, 1, 1, 1, 1, 9)

In [156]:
d = dict([('jan',1),('feb',2),('march',3)])
print(d['feb'])
print("letters in either a or b",d)

2
letters in either a or b {'jan': 1, 'feb': 2, 'march': 3}

In [160]:
(x,y,z) = ('a','b','c')
x

'a'

In [165]:
(x,yx,z) = range(3)    #(0,1,2)

In [163]:
z

2

In [167]:
yx

1

In [171]:
data = (1,2,3)
(p,q,r) = data
print(p)
print(q)
r

1
2

3

In [173]:
(p,q) = (q,p)
print("swapped p ",p)
print("swapped q ",q)

swapped p  1
swapped q  2

In [176]:
t = (1,2,3,4,5)
print("Lenght of tupil :",len(t))
s=t[2:]
print("slice of tupil :",s)
copyt = t
#t[0] = 5
print("original tupil :",t)
print("copy of tupil:",copyt)

Lenght of tupil : 5
slice of tupil : (3, 4, 5)
original tupil : (1, 2, 3, 4, 5)
copy of tupil: (1, 2, 3, 4, 5)

In [178]:
t = (1,2,[3,10])
t[2][0]=4
t

(1, 2, [4, 10])

In [180]:
t = 1,2,3,6
max(t)

6

In [14]:
str(t)

NameError: name 't' is not defined

In [5]:
animals = {'dog','cat','lion','tiger'}
print("first input :",animals)
animals1 = {'dog','dog','cat','lion','tiger'}
print("second input :",animals)

first input : {'tiger', 'dog', 'cat', 'lion'}
second input : {'tiger', 'dog', 'cat', 'lion'}

In [7]:
a = set([1,2,3,4])
b = set([3,4,5,6])
print("OR function in set :",a|b)
print("AND function in set :",a&b)
print("Subset function in set :",a<b)
print("Symmetric difference function in set :",a^b)

OR function in set : {1, 2, 3, 4, 5, 6}
AND function in set : {3, 4}
Subset function in set : False
Symmetric difference function in set : {1, 2, 5, 6}

In [10]:
i = 'cat' in animals
print(i)
j = 'crow' in animals
print(j)

True
False

In [12]:
a = set('abracadabra')
b = set('alacazam')
print("set a is",a)
print("set b is",b)

set a is {'a', 'b', 'd', 'c', 'r'}
set b is {'a', 'l', 'm', 'c', 'z'}

In [15]:
c = a-b
print("letters in a but not in b",c)

letters in a but not in b {'r', 'd', 'b'}

In [17]:
e = a&b
f = a | b
print("letters in both a and b",e)
print("letters in both a or b",f)

letters in both a and b {'a', 'c'}
letters in both a or b {'a', 'l', 'b', 'm', 'd', 'c', 'z', 'r'}

In [19]:
h = a^b
print("letters in a or b but not both",h)

letters in a or b but not both {'l', 'm', 'z', 'r', 'b', 'd'}

In [20]:
###################FROZEN SETS

In [22]:
a = frozenset([1,2,3])
a = frozenset([2,3,4])
c = a.union(b)
print(c)

frozenset({'a', 'l', 2, 3, 4, 'm', 'c', 'z'})

In [24]:
c[3] = 5

TypeError: 'frozenset' object does not support item assignment

In [26]:
fa = {frozenset([1,2]):1}
fa[ frozenset([1,2])]

1

In [27]:
##########Loops

In [29]:
item = "jalebi"
if item == "jalebi":
    print("I am loving it")

I am loving it

In [31]:
item = "dal"
if item == "jalebi":
    print("I am loving it")
else:
    print("I just want jalebi")

I just want jalebi

In [33]:
item = "dal"
if item == "jalebi":
    print("I am loving it")
elif item == "dal":
    print("I need rice also")
else:
    print("I will not eat")

I need rice also

In [35]:
count = 4
while( count > 0):
    print('The count is:',count)
    count = count - 1

print("Good bye!")

The count is: 4
The count is: 3
The count is: 2
The count is: 1
Good bye!

In [42]:
x = 10
if x== 10 or x > 0 or \
    x<100:
        print('True')

True

In [45]:
for letter in "Welcome":
    if letter == "l":
        break
    print('Current letter:',letter)

Current letter: W
Current letter: e

In [46]:
for letter in "Welcome":
    if letter == "l":
        continue
    print('Current letter:',letter)

Current letter: W
Current letter: e
Current letter: c
Current letter: o
Current letter: m
Current letter: e

In [ ]:
############### FUNCTIONS AND METHODS

In [48]:
def add(p,q):
    return p+q

print("first return: ",add(4,6))
r = add(3,5)
print("second return: ",r)

first return:  10
second return:  8

In [43]:
def print_something():
    print('Wow,this also working?','I never knew!')
print_something()

Wow,this also working? I never knew!

In [41]:
week = ['Monday','Tuesday','Wednesday','Thursday','Friday']
print(week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [51]:
def greet(name):
    print("Welcome "+name+" to the python world")
greet("Abhinav")

Welcome Abhinav to the python world

In [54]:
def swap(a,b):
    return(b,a)
a = 10
b = 20
print("original value :",a,b)
a,b = swap(a,b)
print("swapped value :",a,b)

original value : 10 20
swapped value : 20 10

In [56]:
def miss():
    print("food is missed")
food="rice"
if food == "curd":
    print("here is your food")
else:
    miss()

food is missed

In [58]:
def num(val1,val2,val3,val4):
    return val1*val2*val3*val4
print(num(4,2,6,1))

48

In [61]:
def printdtl(product,cost):
    print("Product :",product)
    print("cost :",cost)
    return;

printdtl(cost = 3500,product = "Headphones")

Product : Headphones
cost : 3500

In [63]:
printdtl(cost = 2500,product = "keyword")

Product : keyword
cost : 2500

In [64]:
def sal_HRA (x,HRA = 4):
    return x*(HRA/100)

In [66]:
print (sal_HRA(10000))

400.0

In [68]:
print(sal_HRA(20000))

800.0