# Combining all tweets

**In this notebook I am combining all the tweets dataframe into a single dataframe for performing sentiment analysis**

## Importing libraries

In [1]:
import tweepy

# TextBlob - Python library for processing textual data
from textblob import TextBlob

# WordCloud - Python linrary for creating image wordclouds
from wordcloud import WordCloud

# Pandas - Data manipulation and analysis library
import pandas as pd

# NumPy - mathematical functions on multi-dimensional arrays and matrices
import numpy as np

# Regular Expression Python module
import re

# Matplotlib - plotting library to create graphs and charts
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize

import seaborn as sns
import nltk as nlp
from nltk.corpus import stopwords # importing stopwords: to remove those words which does not add much meaning to a sentence.
import csv

## Importing Amazon tweets

In [2]:
amazon_data = pd.read_csv("newtweets_amazon.csv",names=['created at','tweets'])

In [3]:
amazon_data.head()

            created at                                             tweets
0  2020-12-31 14:12:43  b'Like Amazon don\xe2\x80\x99t be playing with...
1  2020-12-31 14:12:37  b'I just listed: Free People Sweet Emotion Emb...
2  2020-12-31 14:12:37  b'Wow. This is just very very Amazing news tha...
3  2020-12-31 14:12:36  b'@momsfourthchild @LettersOfNote Well, Amazon...
4  2020-12-31 14:12:36  b'This goes for Etsy or Amazon books..\n\nCrea...

In [4]:
amazon_data.shape

(3600, 2)

### Keeping a copy of original dataset

In [5]:
amazon_data_copy = amazon_data.copy()
amazon_data_copy.head()

            created at                                             tweets
0  2020-12-31 14:12:43  b'Like Amazon don\xe2\x80\x99t be playing with...
1  2020-12-31 14:12:37  b'I just listed: Free People Sweet Emotion Emb...
2  2020-12-31 14:12:37  b'Wow. This is just very very Amazing news tha...
3  2020-12-31 14:12:36  b'@momsfourthchild @LettersOfNote Well, Amazon...
4  2020-12-31 14:12:36  b'This goes for Etsy or Amazon books..\n\nCrea...

In [6]:
amazon_data_copy.shape

(3600, 2)

## Importing Flipkart tweets

In [7]:
flipkart_data = pd.read_csv("newtweets_flipkart.csv",names=['created at','tweets'])

In [8]:
flipkart_data.head()

            created at                                             tweets
0  2020-12-31 14:35:48  b'Act Against Amazon &amp; Flipkart For FDI, F...
1  2020-12-31 14:35:35  b'@BJP4UP OD220608215894416000 @rajneeeshkumar...
2  2020-12-31 14:35:24  b'@narendramodi @JPNadda OD220608215894416000 ...
3  2020-12-31 14:32:31  b'@Motorola_Home @motorolaindia \nI purchased ...
4  2020-12-31 14:32:15  b'@flipkartsupport @_Kalyan_K @makeinindia @rs...

In [9]:
flipkart_data.shape

(3600, 2)

### Keeping a copy of original dataset

In [10]:
flipkart_data_copy = flipkart_data.copy()
flipkart_data_copy.head()

            created at                                             tweets
0  2020-12-31 14:35:48  b'Act Against Amazon &amp; Flipkart For FDI, F...
1  2020-12-31 14:35:35  b'@BJP4UP OD220608215894416000 @rajneeeshkumar...
2  2020-12-31 14:35:24  b'@narendramodi @JPNadda OD220608215894416000 ...
3  2020-12-31 14:32:31  b'@Motorola_Home @motorolaindia \nI purchased ...
4  2020-12-31 14:32:15  b'@flipkartsupport @_Kalyan_K @makeinindia @rs...

In [11]:
flipkart_data_copy.shape

(3600, 2)

## Importing Snapdeal tweets

In [12]:
snapdeal_data = pd.read_csv("newtweets_snapdeal.csv",names=['created at','tweets'])

In [14]:
snapdeal_data.head()

            created at                                             tweets
0  2020-12-31 15:00:29  b'New Year calls for introducing the idea of s...
1  2020-12-31 14:52:39  b'@Real_Ravi_2 @DeepsUnique3434 @narendramodi ...
2  2020-12-31 14:52:16  b'@Dilsedesh @snapdeal @PMOIndia @rajnathsingh...
3  2020-12-31 14:52:05  b'@jyotsnamohan @snapdeal @PMOIndia @rajnathsi...
4  2020-12-31 14:51:59  b'@aamira_2020 @being_AyShA @Ertugra90196545 @...

In [15]:
type(snapdeal_data)

pandas.core.frame.DataFrame

In [16]:
snapdeal_data.columns

Index(['created at', 'tweets'], dtype='object')

In [17]:
snapdeal_data.shape

(3600, 2)

### Keeping a copy of original dataset

In [18]:
snapdeal_data_copy = snapdeal_data.copy()
snapdeal_data_copy.head()

            created at                                             tweets
0  2020-12-31 15:00:29  b'New Year calls for introducing the idea of s...
1  2020-12-31 14:52:39  b'@Real_Ravi_2 @DeepsUnique3434 @narendramodi ...
2  2020-12-31 14:52:16  b'@Dilsedesh @snapdeal @PMOIndia @rajnathsingh...
3  2020-12-31 14:52:05  b'@jyotsnamohan @snapdeal @PMOIndia @rajnathsi...
4  2020-12-31 14:51:59  b'@aamira_2020 @being_AyShA @Ertugra90196545 @...

In [19]:
snapdeal_data_copy.shape

(3600, 2)

## Creating a variable and appending Flipkart dataset to Amazon dataset

In [20]:
dummy = amazon_data_copy.append(flipkart_data_copy)

In [21]:
dummy.head()

            created at                                             tweets
0  2020-12-31 14:12:43  b'Like Amazon don\xe2\x80\x99t be playing with...
1  2020-12-31 14:12:37  b'I just listed: Free People Sweet Emotion Emb...
2  2020-12-31 14:12:37  b'Wow. This is just very very Amazing news tha...
3  2020-12-31 14:12:36  b'@momsfourthchild @LettersOfNote Well, Amazon...
4  2020-12-31 14:12:36  b'This goes for Etsy or Amazon books..\n\nCrea...

In [22]:
dummy.shape

(7200, 2)

## Creating another variable and now appending Snapdeal dataset to Amazon and Flipkart dataset

In [23]:
complete_data = dummy.append(snapdeal_data_copy)

In [24]:
complete_data.head()

            created at                                             tweets
0  2020-12-31 14:12:43  b'Like Amazon don\xe2\x80\x99t be playing with...
1  2020-12-31 14:12:37  b'I just listed: Free People Sweet Emotion Emb...
2  2020-12-31 14:12:37  b'Wow. This is just very very Amazing news tha...
3  2020-12-31 14:12:36  b'@momsfourthchild @LettersOfNote Well, Amazon...
4  2020-12-31 14:12:36  b'This goes for Etsy or Amazon books..\n\nCrea...

### Observing shape of complete dataset after appending all datasets

In [25]:
complete_data.shape

(10800, 2)

In [26]:
type(complete_data)

pandas.core.frame.DataFrame

In [27]:
complete_data.columns

Index(['created at', 'tweets'], dtype='object')

In [28]:
len(complete_data['tweets'])

10800

In [29]:
complete_data.empty

False

## Exporting complete dataset to a CSV file for further sentiment analysis

In [30]:
complete_data.to_csv(r'C:\Users\sagar\Term 2 project work\complete_data.csv',index=False) # don't want to keep any index